.boxCard {
  margin: 15;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  display: inline-block;
}
.textCard {
  padding: 10px;
  text-align: left;
}
.textCard > span {
  color: gray;
  text-transform: capitalize;
  cursor: pointer;
}
.boxImg {
  cursor: pointer;
}
.boxImg>.zoomIn{
  margin-left: auto;
  margin-right: auto;
}

figure {
  overflow: hidden;
  margin: 0 10px;
  border-radius: 15px;
  width: 260px;
  height: auto;
}
.boxImg>.zoomIn>figure>.img {
  display: block;
  width: 260px;
  height: 160px;
  cursor: pointer;
}
.boxImg > .zoomIn > img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.boxImg > .zoomIn:hover img {
  transform: scale(1.3);
  transition: all.8s;
}
.titleCard {
  margin-bottom: 7px;
  text-align: left;
}
.titleCard > span {
  cursor: pointer;
  text-transform: capitalize;
  color: #545352;
  margin-left: 5px;

}
.prizeCard {
  text-align: left;
  margin-top: 5px;
}
.prizeCard > span {
  margin-left: 4px;
  font-weight: bold;
  color: #4a4a48;
  font-size: 22px;
  cursor: pointer;
}
.button {
  background-image: linear-gradient(to right, #e8b984, #f04602);
  margin: 5px;
  color: #eee;
  text-transform: uppercase;
  border-radius: 15px;
  outline: none;
  width: 83px;
  height: 27px;
  border: none;
}
.btnCustomise {
  font-size: 10px;
  text-transform: capitalize;
}
