p,
input {
  font-family: sans-serif;
  cursor: pointer;
}
.main-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.hub-Food-Heading {
  font-size: 25px;
  font-weight: bold;
}
.deliver-Col {
  text-align: left;
  display: flex;
}
.deliver-Text {
  color: #9e9f9f;
  font-size: 18px;
}
.noth-Naz-Text {
  color: #e96b3b;
  padding-top: 3px;
  padding-left: 4px;
}
.download-App-Col {
  text-align: right;
}
.download-App-Text {
  font-size: 15;
  font-weight: 600;
  color: #5f5f5f;
}
.download-App-Text:hover {
  color: #e96b3b;
  transition: all.6s;
}
.icons-Main-Row {
  height: 60px;
  box-shadow: whitesmoke 5px 5px 5px 5px;
}
.icon-Main-Col {
  display: flex;
  justify-content: flex-end;
}
.icons-Main-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 30%;
}
.search-Icon-Div {
  padding-left: 10px;
}
.search-Input-Main-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.search-Input-Main-Div:hover {
  background-color: #f2f3f3;
  transition: all.5s;
}
.search-Input-Div {
  padding-left: 6px;
}
.search-Input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  height: 50px;
  background-color: transparent;
}
.offer-Text-Div {
  height: 40px;
  width: 27%;
  border-radius: 30px;
  padding-top: 5px;
}
.offer-Text-Div:hover {
  background-color: #f2f3f3;
  transition: all.5s;
}
.offer-Text {
  font-size: 18px;
  font-weight: 600;
  color: #5e5e5e;
}
.user-Icon-Div {
  width: 15%;
  margin-top: 5px;
  height: 37px;
  border-radius: 15px;
}
.user-Icon-Div:hover {
  background-color: #f2f3f3;
  transition: all.5s;
}
.cart-Div {
  height: 40px;
  width: 15%;
  border-radius: 27px;
  padding-top: 5px;
}
.cart-Div:hover {
  background-color: #f2f3f3;
  transition: all.5s;
}

@media screen and (max-width: 600px) {
  .main-row {
    height: 74px;
  }
  .icons-Main-Div {
    display: block;
    justify-content: block;
  }
  .icons-Main-Div {
    width: 100%;
    display: flex;
  }
  .search-Input-Main-Div {
    width: 65%;
  }
}
